@import "onesignal-font";

#adminmenu .toplevel_page_onesignal-push.menu-icon-generic div.wp-menu-image:before {
    font-family: 'OneSignal' !important;
    content: '\0041';
    font-size: 1.3em !important;
}

#adminmenu #menu-posts-product .menu-icon-post div.wp-menu-image:before,
#adminmenu #menu-posts-product .menu-icon-product div.wp-menu-image:before {
    font-family: 'OneSignal' !important;
    content: "\0041";
    font-size: 1.3em !important;
}

#adminmenu #toplevel_page_wc-reports .menu-icon-generic div.wp-menu-image:before {
    font-family: 'OneSignal' !important;
    content: "\0041";
    font-size: 1.3em !important;
}