$callout-default-color: #777777;
$callout-primary-color: #428bca;
$callout-success-color: #5cb85c;
$callout-danger-color: #d9534f;
$callout-warning-color: #f0ad4e;
$callout-info-color: #71bec0;
$callout-padding: 10px;
$callout-width: 4px;
$callout-border-radius: 3px;

$font-sourcesans: "Source Sans Pro", "Helvetica Neue", sans-serif !default;
$font-raleway: "Raleway", sans-serif !default;


/*
* Dotted Border - A SASS mixin to help you increase spacing between the dots of border-style:dotted.
* By @florbraz
* Documentation and examples - github.com/florbraz/Dotted-Border-w-custom-spacing-SCSS-Mixin
* V1.0
*/

@mixin dottedBorder($color: #8f8f8f, $orientation: horizontal, $position: bottom, $spacing: 5px, $size: 1px) {
    background-position: $position;
    @if $orientation == horizontal {
        background-image: linear-gradient(to right, $color $size/$spacing * 100%, rgba(255,255,255,0) 50%);
        background-size: $spacing $size;
        background-repeat: repeat-x;
    }
    @else {
        background-image: linear-gradient($color $size/$spacing * 100%, rgba(255,255,255,0) 0%);
        background-size: $size $spacing;
        background-repeat: repeat-y;
    }
}

@mixin callout-link($callout-color, $callout-hover-color) {
    a {
        @include link(
        $font-weight: 500,
        $color: $callout-color,
        $hover-color: darken($callout-color, 15%)
        );
        @include dottedBorder($color: $callout-color, $size: 1px, $spacing: 4px)
    }
}

.callout {
    padding: $callout-padding;
    margin: 15px 0;

    h4 {
        margin-top: 0;
        margin-bottom: 8px;
        font-size: 15px;
        font-family: $font-sourcesans;
        font-weight: 400;
    }

    p:last-child {
        margin-bottom: 0;
    }

    code {
        border-radius: 3px;
    }

    & + .callout {
        margin-top: -5px;
    }

    &.callout-default {
        border-left-color: $callout-default-color;
        border: 1px solid $callout-default-color;
        border-left-width: $callout-width;
        border-radius: $callout-border-radius;
        background-color: lighten($callout-default-color, 51%);
        color: $callout-default-color;
        @include callout-link($callout-default-color, lighten($callout-default-color, 51%));
    }

    &.callout-primary {
        border-left-color: $callout-primary-color;
        border: 1px solid $callout-primary-color;
        border-left-width: $callout-width;
        border-radius: $callout-border-radius;
        color: $callout-primary-color;
        background-color: lighten($callout-primary-color, 45%);
        @include callout-link($callout-primary-color, lighten($callout-primary-color, 45%));
    }

    &.callout-success {
        border-left-color: $callout-success-color;
        border: 1px solid $callout-success-color;
        border-left-width: $callout-width;
        border-radius: $callout-border-radius;
        color: $callout-success-color;
        background-color: lighten($callout-success-color, 44%);
        @include callout-link($callout-success-color, lighten($callout-success-color, 44%));
    }

    &.callout-danger {
        border-left-color: $callout-danger-color;
        border: 1px solid $callout-danger-color;
        border-left-width: $callout-width;
        border-radius: $callout-border-radius;
        background-color: lighten($callout-danger-color, 40%);
        color: $callout-danger-color;
        @include callout-link($callout-danger-color, lighten($callout-danger-color, 40%));
    }

    &.callout-warning {
        border-left-color: $callout-warning-color;
        border: 1px solid $callout-warning-color;
        border-left-width: $callout-width;
        border-radius: $callout-border-radius;
        color: $callout-warning-color;
        background-color: lighten($callout-warning-color, 36%);
        @include callout-link($callout-warning-color, lighten($callout-warning-color, 36%));
    }

    &.callout-info {
        border-left-color: $callout-info-color;
        border: 1px solid $callout-info-color;
        border-left-width: $callout-width;
        border-radius: $callout-border-radius;
        color: $callout-info-color;
        background-color: lighten($callout-info-color, 39%);
        @include callout-link($callout-info-color, lighten($callout-info-color, 39%));
    }

    ul {
        li {
            strong {
                font-weight: 600;
            }
        }
    }
}